*
!*/

!./.gitignore
!.bashrc
!.zshrc
!.Xmodmap
!.Xresources
!.local/share/fonts/**
!defaultScreenLayout.sh
!picom.conf
!alacritty.yml
!.config/bspwm/**
!.config/i3/**
!.config/kitty/**
!.config/leftwm/**
!.config/xmonad/**
!.config/nitrogen/**
!.config/.polybar/**
!.config/nvim/lua/**
!.config/nvim/init.lua
!.config/xmonad/**
!.config/qtile/**
!.config/rofi/**
!.config/lvim/**

