.local/share/nvim/**
.cache/**
.cargo
Code - OSS
dconf
gh
gtk-3.0
nvim/.github
nvim/.git
systemd
xfce4
eos-update-notifier.*
mimapps.list
gvfs-metadata
Trash
state
.mozilla
.oh-my-zsh
.vscode-oss
.devcontainer
zsh-syntax-highlighting
.gtkrc-2.0
.bash_history
.bash_logout
.config/nvim/.github/FUNDING.yml
.pki
./**/*.md
Dockerfile
*.ps1
.dockerignore
*.png
*.svg
*.gif
extras
font-info.md
readme.md
.config/xfce4/xfconf/xfce-perchannel-xml/thunar.xml
Downloads
.local/share/recently-used.xbel
.zsh_history
