[user]
	email = tuukka.veteli@solita.fi
	name = Tuukka Veteli

; Linux Creds
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

; Mac creds
; [credential "https://github.com"]
; 	helper = 
; 	helper = !/opt/homebrew/bin/gh auth git-credential
; [credential "https://gist.github.com"]
; 	helper = 
; 	helper = !/opt/homebrew/bin/gh auth git-credential

[rerere]
	enabled = true
	
[credential]
	helper = 
	helper = /usr/local/bin/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
